body{background-color: azure}


#banner {
    background-color: darkgoldenrod;
    height: 100px;
    text-align:left;
}


h1 {
    padding-top: 31px;
    padding-left: 20px;
    margin: 0em;
    color:white;
}

#nav_bar {
    background-color:lightgray;
    margin-top: 0em;
}



ul {
    list-style-type:none;
    margin:0px;
    padding-top:11px;
    padding-bottom:11px;
}



li {
    display:inline;
    padding:10px;
    font-size:200%
}

#main_content_blox_lions {
    width: 960px;
    margin-right:auto;
    margin-left:auto;
}

.wait_for_it{
    font-style:italic;
    font-size: 150%;
}

.pictures {
display:inline-block; 
}

figcaption {
    margin: auto;
    text-align: center;
}


p {
    text-align: center;
}
